.page-list{
	list-style: none;
}
.page-list .page-item{
	float: left;
	padding: 5px 10px;
	border: 1px solid #999;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
}
.page-list .page-item.active{
	background: #ccc;
}

.content-list{
	list-style: none;
}

.content-list .content-item{
	padding: 10px 20px;
	border: 1px solid #000;
	background: #9999ff;
	display: inline-block;
}

.clearfix{
	clear:both;
	overflow:hidden;
}